body {
    background-color: black;
    color: #8B0000; /* 暗红色字体 */
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    text-align: left;
    padding: 20px;
}

.code-head {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px; /* 调整图像大小 */
    height: 100px;
}

.owner, .network, .primordial {
    font-size: 18px;
    margin: 10px 0;
}

.name {
    color: green;
}

.level, #countdown {
    color: red;
}
